.program-progress, .program-progress th, .program-progress td {
    border: 3px solid black;
    border-collapse: collapse;
}
.program-progress {
    max-width: 1080px;
    background-color: white;
}
.program-progress th {
    background-color: rgb(50, 155, 187);
}