:root {
    --c1: #03254c;
    --c2: #1167b1;
    --c3: #187bcd;
    --c4: #2a9df4;
    --c5: #d0efff;
 }

a:link,
a:visited {
    float: left;
    color: black;
    padding: 15px 25px;
    text-align: right;
    text-decoration: none;
}

a:hover,
a:active {
    color: grey;
    background-color: var(--c1);
}

body {
    background-color: var(--c3);
}

h2 ul li {
    font-size: 200%;
    line-height: 1.6;
}

hr {
    color: black;
    border: solid var(--c1);
    width: 100%;
    height: 1px;
    border-width: 2px;
}

.inline-icon {
    height: 2%;
    width: 2%;
}

.index-body {
    background-image: url(images/home-bg.jpg) ;
}
.home-title {
    text-align: center;
    font-size: 200%;
}
