
p {
    color: blue;
    text-align: left;
}
a:link, a:visited {
    float: left;
    color: black;
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;    
}
a:hover, a:active {
    color: grey;
    background-color:rgb(47, 48, 117);
}
body {
    background-color:rgb(61, 111, 158);
}
img {
    background-size: cover;
}